.cabecalho{
   justify-content: left;

   display: flex;

   gap: 10px;
   
   background-color: rgb(255, 255, 255);

   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formataLink{

    text-decoration: none;

    color: black;

   font-family: Verdana, Geneva, Tahoma, sans-serif;

   font-style: normal;
}

a:hover{
    color: rgb(98, 91, 223);
}

.menu{
    background-color: rgb(220, 181, 216);

    display: flex;

    height: 40px;

    width: 100%;

    justify-content: space-around;

    align-items: center;
}

.imgLogo{
    transform: translate(-54px, 1px);
}

.imagens{
    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    align-items: baseline;

    align-content: stretch;
}

.formulárioConta{
    filter: drop-shadow(-1px 0px 0px rgba(183, 180, 180, 0.71));

    box-shadow: 10px;

    border-radius: 20px;
}

.fonteConta{
    font-family: 'Helvetica Neue LT Pro';

    font-style: normal;

    font-weight: bold;

    font-size: 10px;
}

.background{
    background-color: rgb(245, 239, 222);
}

.tituloCabecalho{
    text-align: center;

    transform: translate(300px, 10px);
}

.fonteFavoritos{
    font-family: 'Helvetica Neue LT Pro';

    font-style: normal;

    font-weight: bold;

    font-size: 10px;

    width: 100%;

    height: 60px;
}

.fonteRecomendacoes{
    font-family: 'Helvetica Neue LT Pro';

    font-style: normal;

    font-weight: bold;

    font-size: 10px;
}

.fonteNovidades{
    font-family: 'Helvetica Neue LT Pro';

    font-style: normal;

    font-weight: bold;

    font-size: 10px;
}

.fonteInicio{
    font-family: 'Helvetica Neue LT Pro';

    font-style: normal;

    font-weight: bold;

    font-size: 10px;
}

.footer{
    margin-top: 0px;

    background-color: rgb(220, 181, 216);

    display: flex;

    width: 100%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-style: normal;

    white-space: nowrap;

    line-height: 60px;
}

